<div class="std-block">
    <div class="container">
        <h1>Welcome to "Open Nav Data for X Plane"</h1>
        <p class="welcome-text-box">If you have used the default FMS with default aircrafts you probably noticed that X Plane misses some FIX Points if you try to enter routes found at <a href="http://www.vatroute.net">"Vatrout"</a>, <a href="http://rfinder.asalink.net/free/">"RouteFinder"</a> or any other source or chart (SID and STAR routes).<br>To change this situation you can use this tool comfortably to add any FIX you don't find in the default FMS.<BR>From time to time I will send the data to Robin Peel to add it to the official Database - and I will remove the FIXes here.<br>&nbsp;<br>So feel free to conribute to the community by adding you first unknown FIX  - simply click the "Add new FIX" in the top rigth menu corner. </p>
    </div>
</div>