<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<div class="std-block">
    <div class="container">
        <h1>Explore all added FIX and NDB points on the map</h1>
        <div class="map-box">
            <div id='map' style='width: 100%; height: 500px;'></div>
			<div id="menu">
				<input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked" />
				<label for="streets-v11" style="margin-right: 1rem;">street view</label>
				<input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
				<label for="satellite-v9">satellite view</label>
				<style>
					#menu {
						position: absolute;
						padding: 5px 10px;
						top: 10px;
						left: 10px;
						background: #fff;
						border-radius: 3px;
					}
				</style>
			</div>

        </div>
    </div>
</div>


<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoieHBuaW1pIiwiYSI6ImNraTRtZWp1NjJpNzYycm1wNmhvOWxibTEifQ.3U7nTww9Xgcv2-TdRWC9pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
		center: [0, 25], // starting position [lng, lat]
		zoom: 1 // starting zoom
	});

	// Add zoom and rotation controls to the map.
	map.addControl(new mapboxgl.NavigationControl());

	// Add Satelite View capabilities
	var layerList = document.getElementById('menu');
	var inputs = layerList.getElementsByTagName('input');
	 
	function switchLayer(layer) {
		var layerId = layer.target.id;
		map.setStyle('mapbox://styles/mapbox/' + layerId);
	}
	 
	for (var i = 0; i < inputs.length; i++) {
		inputs[i].onclick = switchLayer;
	}





	var fixes;
	var vors;
	var ndbs;

    // Load Fixes as json and place Marker
    $.ajax({
        url: "/fixes.json",
        dataType: "json",
        async: false,
        success: function(json){
            fixes = json;
        }
    }); 
    fixes.forEach( e => {
    	var el = document.createElement('div');
		el.className = 'marker';
		el.style.backgroundImage = 'url(<%= asset_url("fix-marker.png") %>)';
		el.style.width = '25px';
		el.style.height = '25px';

		// create the popup
		var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
			'<div style="padding: 0 0.5rem;"><div style="font-weight: bold; font-size: 1rem;">' + e.name + '</div>' + e.lat + ', ' + e.lon + '</div>');

		new mapboxgl.Marker(el)
			.setLngLat([e.lon, e.lat])
			.setPopup(popup) // sets a popup on this marker
			.addTo(map);
    });


    // Load VORs as json and place Marker
    $.ajax({
        url: "/vors.json",
        dataType: "json",
        async: false,
        success: function(json){
            vors = json;
        }
    });
    vors.forEach( e => {
    	var el = document.createElement('div');
		el.className = 'marker';
		el.style.backgroundImage = 'url(<%= asset_url("vor-marker.png") %>)';
		el.style.width = '25px';
		el.style.height = '25px';

		// create the popup
		var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
			'<div style="padding: 0 0.5rem;"><div style="font-weight: bold; font-size: 1rem;">' + e.name + '</div>' + e.lat + ', ' + e.lon + '</div>');

		new mapboxgl.Marker(el)
			.setLngLat([e.lon, e.lat])
			.setPopup(popup) // sets a popup on this marker
			.addTo(map);
    });

    // Load NDBs as json and place Marker
    $.ajax({
        url: "/ndbs.json",
        dataType: "json",
        async: false,
        success: function(json){
            ndbs = json;
        }
    });
    ndbs.forEach( e => {
    	var el = document.createElement('div');
		el.className = 'marker';
		el.style.backgroundImage = 'url(<%= asset_url("ndb-marker.png") %>)';
		el.style.width = '25px';
		el.style.height = '25px';

		// create the popup
		var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
			'<div style="padding: 0 0.5rem;"><div style="font-weight: bold; font-size: 1rem;">' + e.identifier + '</div>' + e.lat + ', ' + e.lon + '</div>');

		new mapboxgl.Marker(el)
			.setLngLat([e.lon, e.lat])
			.setPopup(popup) // sets a popup on this marker
			.addTo(map);
    });

</script>