<div class="std-block">
    <div class="container">
        <%= render 'shared/flash_messages', flash: flash %>

        <div class="fullwidth-list-box align-center">

        	<div class="fullwidth-box" style="margin-bottom: 40px;">
        		<h1>Total Rows</h1>
        		<%= @trows %>
        	</div>

        </div>

    </div>
</div>
