<!--
        <div class="welcome-text-box" style="margin-top: 40px;">
            <h3 style="text-align: left;">How to Enter the right Data:</h3>
            <br>
            1) If you have a FIXs Latitude and Longitude in decimal degrees, use the first column to enter all your Data.
            <p><br></p>
            2) if you have a FIXs Latitude and Longitude in Deg / Min / Sec like<br>
            N54 23.02<br>
            E013 19.6
        </div>
-->